*{
    padding: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-primariaLightmode:  #D64545;
    --cor-texto: #4A4A4A;


}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
@font-face {
    font-family: 'Impact Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Impact Regular'), url('./fonts/impact.woff') format('woff');
}

html{
    font-size: 85.5%;
}

body{
    background-color: rgb(229,229,229);
}













:root {
    /* --cor-primariaDarkMode #121212; */



}
